@import "../components/header";

@import"../components/footer";

@import"../Base/variables";


nav ul li {
    font-size: 3em;
    padding: 0.5em;
    list-style: none;
    
    
}
a {
    color: inherit;
    text-decoration: none;
}

h1 {
    color:$color;
    font-size:$size;
    font-family: $font;
    font-weight: $weight;
}